
html {
    position: relative;
    min-height: 100%;}
#main-footer{
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #B8C7BC; 
  left: 0; 
  bottom: 0;}
  #main-footer div {
    margin: 0;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    padding: 0 20px; }
.float-left{
 	float: left;
 }
.float-right{
	float: right;
}


